[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "==3.0.3"
python-dotenv = "==1.0.1"
alembic = "==1.13.2"
sqlalchemy = "==2.0.31"
flask-sqlalchemy = "==3.1.1"
flask-migrate = "==4.0.7"
flask-login = "==0.6.3"
pyjwt = "==2.9.0"
flask-cors = "==4.0.1"
requests = "==2.32.3"
blinker = "==1.8.2"
certifi = "==2024.7.4"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
greenlet = "==3.0.3"
idna = "==3.7"
importlib-metadata = "==8.2.0"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.4"
mako = "==1.3.5"
markupsafe = "==2.1.5"
typing-extensions = "==4.12.2"
urllib3 = "==2.2.2"
werkzeug = "==3.0.3"
zipp = "==3.19.2"
gunicorn = "*"

[requires]
python_version = "3.9"
