.navBar3 {
    background: gray;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: grid;
    grid-template-columns: 0.1fr 3.5fr 0.1fr 2fr 5fr 0.1fr 2fr 0.1fr;
    align-items: center;
    margin: none;
    margin-top: 60px;
}

.boardName {
    grid-column: 2 / 5 ;
    color: white;
    text-align: left;
    font-weight: bold;
    overflow-x: visible;
    font-size: 28px;
    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.drawerButton {
    grid-column: 7 / 8 ;
    justify-self: right;
}

.backImage {
    height: 175px;
    width: 300px;
    line-height: 175px;
    text-align: center;
    font-size: larger;
    border: 1px solid darkgray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 35px;
}

.formLable {
    margin-top: 7px;
}

