.navBar2 {
    background: linear-gradient(135deg, #0079bf, #5067c5);
    height: 60px;
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.1fr 1.5fr 0.1fr 2fr 1fr 3fr 3fr 0.5fr 0.1fr;
}

.homeIcon {
    grid-column: 2 / 3;
    color: white;
    height: 35px;
    width: 35px;
    align-self: center;
}
 .music {
    align-self: center;
    height: 35px;
    width: 35px;
    color: white;
 }

.boardDropDown {
    grid-column: 4 / 5;
    color: white;
    background: linear-gradient(135deg, #0079bf, #5067c5);
    height: auto;
    width: 175px;
    align-self: center;
    justify-self: right;
    margin-top: 1px;
}

.boardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boardBox {
    height: 85px;
    border: 1px solid darkgray;
    border-radius: 5px;
    text-decoration: none;
    background-size: cover;
}

.boardName {
    font-size: larger;
    text-align: center;
    text-decoration: none;
    align-self: center;
    color: white;
    text-shadow: -2px 2px 0 #000,
				  2px 2px 0 #000,
				 2px -2px 0 #000,
				-2px -2px 0 #000;
}

.search {
    grid-column: 6 / 7; 
    align-self: center;
    justify-self: left;
    background-color: hsla(0,0%,100%,.3);
    margin-top: 1px;
}

.logoWhite {
    grid-column: 8 / 9;
    height: 45px;
    width: 180px;
    align-self: center;
}

.avatar {
    grid-column: 10 / 11;
    align-self: center;
}