.cardHolder {
    border: 1px solid gray;
    border-radius: 5px;
    background: whitesmoke;
    text-align: left;
    padding-left: 15px;
    margin: 2px;
}

.modalContainer {
    min-height: 500px;
    min-width: 400px;
}

.cardHolder:hover {
    transform: rotate(25);
    /* rotate: 15; */
}