.cardHolder {
    border: 1px solid gray;
    border-radius: 5px;
    background: whitesmoke;
    text-align: left;
    padding-left: 15px;
    margin: 2px;
    color: black;
    text-shadow: -2px 2px 0 whitesmoke,
				  2px 2px 0 whitesmoke,
				 2px -2px 0 whitesmoke,
				-2px -2px 0 whitesmoke;

}

.modalContainer {
    min-height: 500px;
    min-width: 400px;
}

/* .cardHolder:hover {
    transform: rotate(25);

} */