body{
    background: linear-gradient(135deg, #0079bf, #5067c5);
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.navBar {
    grid-column-start: 1;
    grid-column-end: 6;
}

.mainBox {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 0.5fr 4fr 1fr 0.5fr;
}

.quoteBox {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100px;
    color: white;
    text-align: right;
    vertical-align: middle;
}

.quoteDetail {
    font-style: italic;
    font-size: large;
}

.textBox {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 500px;
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 4;
}


.textTitle {
    color: white;
    font-weight: 700;
    font-size: 48px;
}

.textDetail {
    color: white;
    font-weight: 300;
    font-size: 26px;
    font-stretch: ultra-expanded;
    line-height: 1.5;
}

.emailSignUp {
    display: flex;
    flex-flow: row; 
    margin-top: 15px;
}

.bigImage {
    grid-column-start: 3;
    grid-column-end: 4;
    height: 600px;
    width: 600px;
    grid-row-start: 2;
    grid-row-end: 4;    
}

.footer {
    color: white;
    text-align: center;
}