.listHolder {
    width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 7px;
    padding: 15px;
    margin: 10px;

}

.listName {
    color: black;
    height: 35px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.listCardArea {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border: solid 1px darkgray;
    background-color: lightgray;
}

.collapseCard {
    height: 150px;
}

.textArea {
    resize: none;
    max-width: 280px;
    border: solid 1px darkgray;
}