.listsContainer {
    display: flex;
    height: 100vh;
    width:100vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    background-image: url('https://mello-zen-images.s3.amazonaws.com/zen-3.jpg');
    background-size: cover;

}

.newListButton {
    width: 350px;
    margin: 10px;
    text-align: left;
}

.collapseList {
    height: 150px;
}