.logInPage {
    background: whitesmoke;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: none;
    border: none;
    padding: none;
}


.logoDiv {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;    
}

.logInLogo {
    height: 65px;
    width: 180px;
}

.mainBox {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 2fr 2fr 0.5fr;
}

.loginBox {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    display: flex;
    background: white;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px lightgray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
    border-radius: 10px;
    height: 500px;
    width: 400px;
}

.loginForm {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.linkBox {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.leftImage {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    height: 400px;
    width: 400px;
}

.rightImage {
    grid-column: 6 / 7;
    grid-row: 3 / 5;
    height: 400px;
    width: 400px;
}